:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan-1: hsl(186, 14%, 43%);
    --dark-grayish-cyan-2: hsl(184, 14%, 56%);
    --light-grayish-cyan-1: hsl(185, 41%, 84%);
    --light-grayish-cyan-2: hsl(189, 41%, 97%);
    /* --white: hsl(0, 0%, 100%); */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Space Mono', monospace;
}

.container {
    /* height: 100vh; */
    background-color: var(--light-grayish-cyan-1);
}

.title {
    color: var(--dark-grayish-cyan-1);
    padding: 10% 0;
    text-align: center;
    letter-spacing: 5px;
}

.calculator {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 5%;
    border-radius: 15px;
}

.input-title {
    color: var(--dark-grayish-cyan-2);
    font-weight: 700;
}

#bill, #people {
    
}

.bill-label::before {
    content: "";
    display: inline-block;
    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    height: 18px;
    width: 12px;
}

.people-label::before {
    content: "";
    display: inline-block;
    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    height: 18px;
    width: 12px;
}

.output-container {
    background-color: var(--very-dark-cyan);
    padding: 5%;
    border-radius: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}