:root {
    /* Primary */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /* Neutral */
    --dark-grayish-red: hsl(0, 6%, 24%);

    /* Gradients */
    /* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
    - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-size: 16px;
}

#hero-desktop {
    display: none;
}

.container {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 100vw;
}

.logo {
    padding: 10%;
}

.logo img {
    height: 20px;
}

.hero img {
    width: 100%;
}

.text {
    padding: 10%;
    text-align: center;
    color: var(--desaturated-red);
}

.text h1 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 5%;
    letter-spacing: 5px;
    font-weight: 300;
}

.text h1 span {
    color: var(--dark-grayish-red);
    font-weight: 700;
}

.text p {
    font-size: 12px;
    line-height: 16px;
}

.form-wrapper {
    background-image: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    padding: 1px;
    padding-right: 0;
    margin-top: 10%;
    border-radius: 20px;
}

form {
    border-radius: 20px;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
    display: flex;
    align-items: center;
    justify-content: center;
}

#Email {
    width: 80%;
    height: 30px;
    color: var(--desaturated-red);
    border-radius: 20px;
    border: none;
    padding: 2% 5%;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}

#Submit {
    background-image: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    border-radius: 20rem;
    width: 20%;
    padding: 5px calc((20% - 12px)/2);
    display:none;
}

footer {
    height: 20px;
    width: 100%;
    position: relative;
    text-align: center;
    bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}