.choice-tile {
  padding: 0.75rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 120px;
  cursor: pointer;
  box-shadow: 0 -5px rgba(0, 0, 0, 0.2) inset;
}

.rock-tile {
  background: var(--rock-gradient);
}

.paper-tile {
  background: var(--paper-gradient);
}

.scissors-tile {
  background: var(--scissors-gradient);
}

.choice-tile-inner {
  background: white;
  width: 100%;
  border-radius: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  padding: 0.75rem;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2) inset;
}

.tile-icon {
  width: 40px;
}

.result-tile {
  animation: shadow 0.2s forwards linear;
}

@keyframes shadow {
  33% {
    box-shadow: 0 0 0 0.75rem hsla(0, 0%, 100%, 0.05);
  }
  66% {
    box-shadow: 0 0 0 0.75rem hsla(0, 0%, 100%, 0.05),
      0 0 0 2rem hsla(0, 0%, 100%, 0.05);
  }
  100% {
    box-shadow: 0 0 0 0.75rem hsla(0, 0%, 100%, 0.05),
      0 0 0 2rem hsla(0, 0%, 100%, 0.05), 0 0 0 3.5rem hsla(0, 0%, 100%, 0.05);
  }
}

@media only screen and (min-width: 600px) {
  .result-container .choice-tile {
    width: 160px;
    padding: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .choice-tile {
    width: 180px;
    padding: 1.25rem;
  }

  .tile-icon {
    width: 60px;
  }

  .result-tile-player .choice-tile,
  .result-tile-house .choice-tile {
    width: 250px;
    padding: 1.75rem;
  }

  .result-tile {
    animation: shadow 0.2s forwards linear;
  }

  @keyframes shadow {
    33% {
      box-shadow: 0 0 0 2rem hsla(0, 0%, 100%, 0.05);
    }
    66% {
      box-shadow: 0 0 0 2rem hsla(0, 0%, 100%, 0.05),
        0 0 0 4rem hsla(0, 0%, 100%, 0.05);
    }
    100% {
      box-shadow: 0 0 0 2rem hsla(0, 0%, 100%, 0.05),
        0 0 0 4rem hsla(0, 0%, 100%, 0.05), 0 0 0 6rem hsla(0, 0%, 100%, 0.05);
    }
  }
}
