.result-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.result-tile-player,
.result-tile-house {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.result-tile-text {
  color: white;
  font-weight: 600;
}
